.idea

.bundle/
doc/
log/*.log
dist/
pkg/
tmp/
test/dummy/app/assets/builds/
test/dummy/db/*.sqlite3
test/dummy/db/*.sqlite3-*
test/dummy/config/master.key
test/dummy/log/*.log
test/dummy/storage/
test/dummy/tmp/

node_modules/

Gemfile.lock
fox_tail-*.gem

.DS_store
.keep

yarn-error.log

/config/master.key
