<%= render FoxTail::DropdownComponent.new.with_menu class: " overflow-y-auto max-h-44 md:max-h-56 lg:max-h-72" do |menu| %>
  <% if @clients.count.zero? %>
    <% menu.with_item(class: "pointer-events-none").with_content("Could not find the client.") %>
  <% else %>
    <% @clients.each do |client| %>
      <% menu.with_item(autocomplete_value: client.id, autocomplete_text: client.name, class: 'gap-2') do |item| %>
        <div class="flex items-center justify-center">
          <%= render FoxTail::AvatarComponent.new icon: :user, rounded: true, size: :sm %>
        </div>
        <div class="text-left">
          <div class="font-semibold truncate whitespace-nowrap"><%= client.name %></div>
          <div class="text-xs font-light truncate whitespace-nowrap"><%= client.email %></div>
        </div>
      <% end %>
    <% end %>
  <% end %>
<% end %>
