<div class="w-full my-52 flex items-center justify-center">
  <%= render(FoxTail::DropdownComponent.new(
    placement: placement,
    offset: offset,
    shift: shift,
    trigger_type: trigger_type,
    delay: delay
  )) do |c| %>
    <% c.with_trigger do |trigger| %>
      <%= render FoxTail::ButtonComponent.new(trigger.html_attributes).with_content("Dropdown") %>
    <% end %>
    <%
      c.with_menu do |menu|
        menu.with_item.with_content "Dashboard"
        menu.with_item.with_content "Settings"
        menu.with_item.with_content "Earnings"
        menu.with_item.with_content "Sign Out"
      end
    %>
  <% end %>
</div>