<div class="w-full my-52 flex items-center justify-center">
  <%= render(Flowbite::TooltipComponent.new(:playground_tooltip, placement: placement, arrow: arrow, variant: variant)) do |c| %>
    <% c.with_trigger(class: "text-gray-900 dark:text-white underline cursor-pointer") do %>
      Hover over me
    <% end %>
    Tooltip Content
  <% end %>
</div>
